<% set_meta_tags noindex: true %>

<div class="container-conscients first-title-padding page-font">
  <h1><%= t('.sign_up') %></h1>
</div>

<div class="session-page-container">
  <div class="p-3">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

  <div class="mt-4">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-100"  %>
      </div> <br>

      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off", class: "w-100" %>
        <% if @minimum_password_length %>
          <p class="f-08R"><em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em></p><br>
        <% end %>
      </div>
  </div>

    <div class="actions">
      <%= f.submit t('.sign_up'), class: "btn conscients-btn btn-green" %>
    </div>
  <% end %>

  <button class="fb-connect-btn-w"><%= link_to t('.sign_in_with_provider', provider: OmniAuth::Utils.camelize(:facebook)), omniauth_authorize_path(resource_name, :facebook) %></button>

  </div>
</div>
