<!DOCTYPE html>
  <html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta http-equiv="Content-Language" content="en-us" />
      <title>Invoice</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
    </head>

    <body>

      <div>
        <%= wicked_pdf_image_tag "logo.jpg" %>
        <h1>Commande #<%= @order.id %> - <%= I18n.l(@order.payment_date, format: :long) %></h1>

        <div class='mb-20'>

          <div>
            <h4>Adresse de livraison</h4>
            <% if @delivery_address.email? %>
              <span><%= @delivery_address.email %></span>
            <% else %>
              <span><%= @delivery_address.first_name %> <%= @delivery_address.last_name %></span>
              <% if @delivery_address.company %>
                <span><%= @delivery_address.company %></span>
              <% end %>
              <% if @delivery_address.address_1 %>
                <span><%= @delivery_address.address_1 %></span>
              <% end %>
              <% if @delivery_address.address_2 %>
                <span><%= @delivery_address.address_2 %></span>
              <% end %>
              <span><%= @delivery_address.city %> <%= @delivery_address.zip_code %></span>
              <% if @delivery_address.country %>
                <span><%= @delivery_address.country %></span>
              <% end %>
            <% end %>
          </div>

          <div>
            <h4>Adresse de facturation</h4>
            <% if @billing_address.email? %>
              <span><%= @billing_address.email %></span>
            <% else %>
              <span><%= @billing_address.first_name %> <%= @billing_address.last_name %></span>
              <% if @billing_address.company %>
                <span><%= @billing_address.company %></span>
              <% end %>
              <% if @billing_address.address_1 %>
                <span><%= @billing_address.address_1 %></span>
              <% end %>
              <% if @billing_address.address_2 %>
                <span><%= @billing_address.address_2 %></span>
              <% end %>
              <span><%= @billing_address.city %> <%= @billing_address.zip_code %></span>
              <% if @billing_address.country %>
                <span><%= @billing_address.country %></span>
              <% end %>
            <% end %>
          </div>

        </div>

        <table class="mb-20">
          <thead class="bold">
            <tr>
              <th scope="col">Name</th>
              <th scope="col"><%= t('.quantity') %></th>
              <th scope="col"><%= t('.total_price') %></th>
            </tr>
          </thead>
          <tbody>
            <% @order.line_items.includes(:product_sku).each do |line_item| %>
              <tr>
                <td><%= line_item.product_sku.to_s %></td>
                <td><%= line_item.quantity %></td>
                <td><%= humanized_money_with_symbol line_item.ttc_price %></td>
              </tr>
            <% end %>
            <tr>
              <td>Frais de livraison</td>
              <td></td>
              <td><%= humanized_money_with_symbol @order.delivery_fees %></td>
            </tr>
            <% if @order.coupon %>
              <tr>
                <td>Réduction</td>
                <td></td>
                <td>- <%= humanized_money_with_symbol @order.coupon_discount %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <h2 class='right'>Prix total: <%= humanized_money_with_symbol @order.total_price %></h2>
      </div>

    </body>
  </html>
