 <div class="table-responsive text-center">
  <table class="table border-table-cart">
    <thead>
      <tr>
        <th scope="col"><%= t('.selection') %></th>
        <th scope="col"></th>
        <th scope="col"><%= t('.quantity') %></th>
        <th scope="col"><%= t('.total_price') %></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% cart.line_items.includes(:product_sku).each do |line_item| %>
        <tr class="table-cart-bordered">
          <td><%= image_tag(line_item.product_images.first, height: 70) %></th>
          <td>
            <div><%= line_item.product_sku.to_s %></div>
            <div><%= line_item.recipient_name if line_item&.recipient_name&.present? %></div>
          </td>
          <td><%= line_item.quantity %></td>
          <td><%= humanized_money_with_symbol line_item.ttc_price %></td>
          <td>
            <%= link_to product_line_item_path(line_item.product, line_item), method: :delete do %>
              <%= fa_icon "times", class: "c-pointer mr-3" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
