<% set_meta_tags noindex: true %>

<div class="container">

  <%= render 'checkout/payments/breadcrumb', cart: @cart %>

<div class="container display-landscape-up-only">
  <div class="checkout-first-title-padding checkout-font no-padding-t">
    <h1 class=""><%= t('.title') %></h1>
  </div>
</div>


<!-- TEST 2 -->
<div class="checkout-box page-font padding-t">
  <div class="checkout-steps-box delivery-below">
    <div class="box-green">
    <!-- <h2 class="box-green-text-checked checked pb-resp-16"></%= t('.delivery') %></h2> -->
<!--         </% if @cart.email? %>
      <p class="box-green-text-checked">Votre commande sera envoyée par email à: </p>
    </% else %>
      <p class="box-green-text-checked">Votre commande sera envoyée à :</p>
    </% end %> -->
      <%= render 'address', address: @cart.delivery_address, title_key: ".delivery" %>
    <!-- <h2 class="box-green-text-checked checked pb-resp-16"></%= t('.billing') %></h2> -->
      <%= render 'address', address: @cart.billing_address, title_key: ".billing" %>
      <%= render 'payment_buttons', cart: @cart %>
    </div>
  </div>
  <div class="checkout-cart-box cart-on-top">
  <h2 class="padding-b"><%= t('.my_cart') %></h2>
    <%= render 'line_items_table', cart: @cart %>

      <% if @cart.coupon %>
        <div class="mt-3 d-flex justify-content-end align-items-start">
          <%= render 'checkout/payments/price', cart: @cart %>
        </div>
      <% else %>
        <div class="text-left"><%= render 'checkout/payments/add_coupon' %></div>
        <!-- <div class="mt-3 d-flex justify-content-between align-items-start"> -->
        <div class="bg-white">
          <%= render 'checkout/payments/price', cart: @cart %>
        </div>
      <% end %>
  </div>
</div>
<!-- TEST 2 -->




<!-- test 1-->
<!-- <div class="div-around">
  <div class="cart-delivery">
    <div class= "cart border">
      <p>PANIER traduire</p> -->
<!--       </%= render 'line_items_table', cart: @cart %>

        </% if @cart.coupon %>
          <div class="mt-3 d-flex justify-content-end align-items-start">
            </%= render 'checkout/payments/price', cart: @cart %>
          </div>
        </% else %>
          <div class="text-left"></%= render 'checkout/payments/add_coupon' %></div>
          <!- <div class="mt-3 d-flex justify-content-between align-items-start"> -->
<!--           <div class="bg-white">
            </%= render 'checkout/payments/price', cart: @cart %>
          </div>
        </% end %> -->
<!--      </div>

    <div class="delivery border">
      <p>delivery</p> -->
<!--       </%= render 'address', address: @cart.billing_address, title_key: ".billing" %>
      </%= render 'address', address: @cart.delivery_address, title_key: ".delivery" %> -->
<!--     </div>
  </div>
  <div class="payment border">
    <p>paiement</p>
    </%= render 'payment_buttons', cart: @cart %>
  </div>
</div> -->
<!-- test   -->


<!--   <div class="row">

    <div class="col-md-6">

      <div class="row mt-4">

        </%= render 'address', address: @cart.billing_address, title_key: ".billing" %>

        </%= render 'address', address: @cart.delivery_address, title_key: ".delivery" %>

      </div>

      </%= render 'payment_buttons', cart: @cart %>

    </div>

    <div class="col-md-6">

      </%= render 'line_items_table', cart: @cart %>

        </% if @cart.coupon %>
          <div class="mt-3 d-flex justify-content-end align-items-start">
            </%= render 'checkout/payments/price', cart: @cart %>
          </div>
        </% else %>
          <div class="mt-3 d-flex justify-content-between align-items-start">
            </%= render 'checkout/payments/add_coupon' %>
            </%= render 'checkout/payments/price', cart: @cart %>
          </div>
        </% end %>

    </div>
  </div> -->
</div>
