<div class="page-container my-5 page-font first-title-padding">
  <h1 class="text-center"><%= t(".order_confirmed") %></h1>
  <% if @order.wainting_for_bank_transfer? %>
    <h2 class="text-center"><%= t(".order_received") %>
    <%= t(".bank_transfer_instructions", amount: @order.total_price) %></h2>
<!--     <div class="padding-b">
    </%= image_tag "bank_account_details_conscients.jpg", class: "w-100" %>
    </div> -->
    <div class="my-5 p-3 border-black">
        <div class="border-bottom bank-info-font font-weight-bold">Banque</div>
        <table class="conscients-table-responsive">
          <thead>
            <tr>
              <th class="th-font">Domiciliation</th>
              <th class="th-font">BIC (Bank Identifier Code)</th>
              <th class="th-font">Titulaire du compte / Account Owner</th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <td class="bank-info-font pt-0">CIC PARIS LE MARAIS <br>58 rue du Temple <br>75003 Paris</td>
            <td class="bank-info-font pt-0">CMCIFRPP</td>
            <td class="bank-info-font pt-0">4 U ABEL <br>10 passage national <br>75013 PARIS</td>
            </tr>
          </tbody>
        </table>
        <div class="border-bottom bank-info-font font-weight-bold pt-5">RIB - Identifiant national de compte bancaire</div>
        <table class="conscients-table-responsive">
          <thead>
            <tr>
              <th class="th-font">Banque</th>
              <th class="th-font">Guichet</th>
              <th class="th-font">N°compte</th>
              <th class="th-font">Clé</th>
              <th class="th-font">Devise</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="bank-info-font pt-0">30066</td>
              <td class="bank-info-font pt-0">10854</td>
              <td class="bank-info-font pt-0">00020065701</td>
              <td class="bank-info-font pt-0">51</td>
              <td class="bank-info-font pt-0">EUR</td>
            </tr>
          </tbody>
        </table>
        <div class="pt-5 border-bottom bank-info-font font-weight-bold">IBAN - International Bank Account Number</div>
        <table class="conscients-table-responsive">
          <tbody>
            <tr>
              <td class="bank-info-font">FR76</td>
              <td class="bank-info-font">3006</td>
              <td class="bank-info-font">6108</td>
              <td class="bank-info-font">5400</td>
              <td class="bank-info-font">0200</td>
              <td class="bank-info-font">6570</td>
              <td class="bank-info-font">151</td>
            </tr>
          </tbody>
        </table>
      </div>
  <% else %>
    <div class="text-center">
      <h2><%= t(".order_validation") %></h2>
      <h2 class="mb-5"><%= t('.email_coming') %></h2>
    </div>
  <% end %>

  <div class="padding-tb text-center"><%= link_to t(".go_to_client_space"), clients_path, class: "follow-link red-link" %></div>
</div>


