  <div class="container-conscients social-box bg-grey">
    <div class="social-box-links">
      <div>
        <a href="https://www.facebook.com/conscients/" target="blank"><i class="fa fa-facebook" title="Facebook"></i></a>
        <a href="#"><i class="fa fa-twitter" title="Twitter"></i></a>
        <a href="#"><i class="fa fa-instagram" title="Instagram"></i></a>
        <%= link_to page_path('contact') do %>
          <i class="fa fa-at" title="Contact"></i>
        <% end %>
      </div>
      <% unless current_client&.newsletter_subscriber %>
        <%= form_with url: newsletter_subscriptions_path, method: :post, local: true, id: 'form_for_newsletter', class: "form-inline" do |form| %>
          <div class="form-group">
            <%= form.label 'Email', for: :email %>
            <%= form.email_field :email, required: true %>
          </div>
          <%= form.submit t('.subscribe_to_newsletter'), class: 'btn conscients-btn btn-green' %>
        <% end %>
      <% end %>
    </div>
  </div>
