<nav class="navbar bg-white d-none d-md-block">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <div><%= locale_links %></div>
      <div><%= link_to t('.about'), root_path, class: 'mr-2' %><%= link_to t('.participate') %></div>
    </div>
    <%= link_to root_path do %>
      <%= image_tag "logo.jpg" %>
    <% end %>
    <div><%= link_to t('.my_account'), root_path %></div>
  </div>
</nav>
<div class="navbar sticky-top d-flex justify-content-between bg-white">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.jpg", height: 50, class: "d-md-none show-on-scroll" %>
  <% end %>
  <div class="d-none d-md-block">
    <div class="d-flex align-items-center">
      <% Category.main.each do |category| %>
        <div class="mx-3"><%= link_to category.name, category_products_path(category) %></div>
      <% end %>
    </div>
  </div>
  <div class="d-none d-md-block">
    <div class="d-flex align-items-center mx-3">
      <%= form_with url: products_path, method: :get, local: true, class: "form-inline my-2 mx-2 my-lg-0" do |form| %>
        <%= form.text_field :search, class: "form-control mr-sm-2" %>
        <%= form.submit t('.search'), class: "btn btn-outline-success my-2 my-sm-0"%>
      <% end %>
      <%= link_to products_path do %>
        <%= fa_icon "shopping-cart" %>
      <% end %>
    </div>
  </div>
  <div class="dropdown d-md-none">
    <%= fa_icon "bars", class: "c-pointer", data: { toggle: "dropdown" } %>
    <div class="dropdown-menu dropdown-menu-right">
      <%= link_to t('.my_cart'), root_path, class: 'dropdown-item' %>
      <%= link_to t('.my_account'), root_path, class: 'dropdown-item' %>
      <div class="dropdown-divider"></div>
      <% Category.main.each do |category| %>
        <%= link_to category.name, category_products_path(category), class: 'dropdown-item'  %>
      <% end %>
    </div>
  </div>
</div>
