
<!-- navbar displayed only on medium and large devices -->
<nav class="navbar bg-white d-none d-md-block">
  <div class="d-flex justify-content-between align-items-top navbar-small-font">
    <div>
      <div><%= locale_links %></div>
      <div><%= link_to t('.about'), root_path, class: 'mr-2' %></%= link_to t('.participate') %></div>
    </div>
    <%= link_to root_path do %>
      <%= image_tag "logo.jpg" %>
    <% end %>
    <div><%= link_to t('.my_account'), root_path %></div>
  </div>
  </div>
</nav>

<!-- MODAL -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-conscients" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <%= form_with url: category_products_path(@category), method: :get, local: true, class: "form-inline my-2 mx-3 my-lg-0" do |form| %>
          <%= form.text_field :search, class: "form-control mr-sm-2 input-field", placeholder: true %>
          <%= form.submit t('.search'), value:"ok", :data => {:disable_with => 'ok'}, class: "btn input-field-button my-2 my-sm-0"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<!-- ***MENU*** -->
  <div class= "top-menu sticky-top">
    <div class="top-menu-left">
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.jpg", height: 50, class: "d-md-none show-on-scroll" %>
    <% end %>
    </div>
    <div class="top-menu-center d-none d-md-flex">
      <% Category.main.each do |category| %>
        <div class="mx-3"><%= link_to category.name, category_products_path(category) %></div>
        <% end %>
    </div>
    <div class="top-menu-right d-none d-md-flex">
      <div class="top-menu-item">
        <!-- Button trigger modal -->
        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default navbar-btn">
        <span class="fa fa-search lg icone" aria-hidden="true" ></span>
        </button>
      </div>
      <div class="top-menu-item icone">
        <%= link_to cart_path(@cart) do %>
        <%= fa_icon "shopping-cart lg" %>
        <span class="badge badge-conscients"><%= @cart.items_number %></span>
        <% end %>
      </div>
    </div>
    <!-- Dropdown right small devices -->
    <div class="dropdown d-md-none">
    <%= fa_icon "bars", class: "c-pointer", data: { toggle: "dropdown" } %>
      <div class="dropdown-menu dropdown-menu-right">
        <%= link_to t('shared.navbar.my_cart'), cart_path(@cart), class: 'dropdown-item' %>
        <%= link_to t('shared.navbar.my_account'), root_path, class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <% Category.main.each do |category| %>
          <%= link_to category.name, category_products_path(category), class: 'dropdown-item'  %>
          <% end %>
      </div>
    </div>
  </div>
