<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

  <div class="row impact-background pb-md-5">
    <div class="col-12 impact-info">
      <div class="btn impact-btn c-default">
        <span class="badge badge-light"><%= current_client.quantity_of_trees_planted %></span> <%= t('.trees_planted') %>
      </div>
      <div class="btn impact-btn c-default">
        <span class="badge badge-light"><%= current_client.tonne_co2_captured %></span> <%= t('.tonnes_of_co2') %>
      </div>
    </div>

    <div class="col-12">
      <div id="map" class="w-100 h-450p" data-markers="<%= @markers.to_json %>"></div>
    </div>
<!--       <h2></%= t('.tree_species') %></h2>
      <ul>
        </% current_client.tree_species_planted.each do |specie| %>
          <li></%= specie %></li>
        </% end %>
      </ul> -->
  </div>
  <div class="border-resp">
    <table class="conscients-table-responsive">
     <thead>
      <tr class="top-tr text-center">
        <th class="th-font">Date</th>
        <th class="th-font">Espèce plantée</th>
        <th class="th-font">Planteur</th>
        <th class="th-font">Attribué à</th>
        <th class="th-font">Certificat</th>
        <th class="th-font">Geolocalisation</th>
      </tr>
      </thead>
      <tbody>
        <tr class="desktop-border-bottom td-font text-center">
          <td>order payment date for 1 line item (tree)</td>
          <td>Tree specie or ...</td>
          <td>Farmer ou ...</td>
          <td>Certificate recipient</td>
          <td>Download certificate</td>
          <td>Download kml</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
