<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

  <div class="row">
    <div class="col-md-6">
      <div class="btn btn-orange c-default m-3">
        <span class="badge badge-light"><%= current_client.quantity_of_trees_planted %></span> <%= t('.trees_planted') %>
      </div>
      <div class="btn btn-orange c-default m-3">
        <span class="badge badge-light"><%= current_client.tonne_co2_captured %></span> <%= t('.tonnes_of_co2') %>
      </div>
      <h2><%= t('.tree_species') %></h2>
      <ul>
        <% current_client.tree_species_planted.each do |specie| %>
          <li><%= specie %></li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-6">
      <div id="map" class="w-100 h-450p" data-markers="<%= @markers.to_json %>"></div>
    </div>

  </div>

</div>
