<div class="tab-pane fade pt-3" id="profile" role="tabpanel" aria-labelledby="profile-tab">

  <div class="border-resp">
    <table class="conscients-table-responsive">
      <thead>
        <tr class="top-tr text-center">
          <th class="th-font"><%= t('.date') %></th>
          <th class="th-font"><%= t('.amount') %></th>
          <th class="th-font"><%= t('.invoice') %></th>
          <th class="th-font"><%= t('.certificates') %></th>
          <th class="th-font"><%= t('.klm_files') %></th>
          <th class="th-font"><%= t('.state') %></th>
<!--           <th class="th-font">livraison</th> -->
        </tr>
      </thead>
      <tbody>
        <% current_client.orders.finished.order_by_date.each do |order| %>
          <tr class="desktop-border-bottom td-font text-center">
            <td><%= I18n.l(order.payment_date || order.created_at, format: :long_no_time).titleize %></td>
            <td><%= humanized_money_with_symbol order.total_price %></td>
            <td>
              <% if order.invoice.attached? %>
                <%= link_to new_invoices_download_path(order_id: order.id) do %>
                  <%= fa_icon "cloud-download", class: "c-pointer mr-3 color-yellow" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% order.line_items.certificated.each do |line_item| %>
                <%= link_to new_certificates_download_path(line_item_id: line_item.id) do %>
                  <%= fa_icon "cloud-download", class: "c-pointer mr-3 color-green" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% order.line_items.each do |line_item| %>
                <% if line_item&.tree_plantation&.klm_file&.attached? %>
                  <%= link_to new_klm_files_download_path(tree_plantation_id: line_item.tree_plantation.id) do %>
                    <%= fa_icon "cloud-download", class: "c-pointer mr-3 color-green" %>
                  <% end %>
                <% end %>
              <% end %>
            </td>
            <td><%= order.aasm.human_state %></td>
<!--             <td><%= order.delivery_address.full_name %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
