<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

  <div class="table-responsive text-center">
    <table class="table">
      <thead>
        <tr>
          <th scope="col"><%= t('.date') %></th>
          <th scope="col"><%= t('.amount') %></th>
          <th scope="col"><%= t('.invoice') %></th>
          <th scope="col"><%= t('.certificates') %></th>
          <th scope="col"><%= t('.state') %></th>
        </tr>
      </thead>
      <tbody>
        <% current_client.orders.finished.order_by_date.each do |order| %>
          <tr>
            <td><%= I18n.l(order.payment_date || order.created_at, format: :long_no_time).titleize %></td>
            <td><%= humanized_money_with_symbol order.total_price %></td>
            <td>
              <% if order.invoice.attached? %>
                <%= link_to new_invoices_download_path(order_id: order.id) do %>
                  <%= fa_icon "cloud-download", class: "c-pointer mr-3" %>
                <% end %>
              <% end %>
            </td>
            <td>
              <% order.line_items.certificated.each do |line_item| %>
                <%= link_to new_certificates_download_path(line_item_id: line_item.id) do %>
                  <%= fa_icon "cloud-download", class: "c-pointer mr-3" %>
                <% end %>
              <% end %>
            </td>
            <td><%= order.aasm.human_state %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
