<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

  <div class="row">
    <div class="col-sm-6 profile-font border-right mb-3 p-3">
      <!-- nom du user si on peut séparer delivery de billing -->
      <!-- <h3 class="text-capitalize color-red"><%= current_client.full_name %></h3> -->
      <!-- end garder nom du user si on peut séparer delivery de billing -->
      <h3 class="my-md-3 client-id"><%= t('.client_email', email: current_client.email) %></h3></i><%= link_to t('.edit_password'), edit_client_registration_path, class: "yellow-link client-id" %>
    </div>

    <div class="col-sm-6">

      <!-- <h2 class="my-4"></%= t('.my_addresses') %></h2> -->

      <div class="row">

        <% current_client.addresses.each do |address| %>

          <div class="col-sm-6 mb-3 no-overflow-n-wrap">
            <div class="profile-address top-menu-font">
              <div class="profile-address-title">
                <%= t('.address_type', type: t("activerecord.attributes.address.address_types.#{address.address_type}")) %></br>
                <% if address.postal_address_type? %>
                  <%= t('.postal_address_type', type: t("activerecord.attributes.address.postal_address_types.#{address.postal_address_type}")) %></br>
                <% end %>
              </div>
              <div class="profile-address-details">
                <% if address.email? %>
                  <%= address.email %></br>
                <% else %>
                  <%= address.full_name %></br>
                  <% if address.company.present? %>
                    <%= address.company %></br>
                  <% end %>
                  <% if address.address_1.present? %>
                    <%= address.address_1 %></br>
                  <% end %>
                  <% if address.address_2.present? %>
                    <%= address.address_2 %></br>
                  <% end %>
                  <%= address.city %> <%= address.zip_code %></br>
                  <% if address.country.present? %>
                    <%= address.country %></br>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>

        <% end %>

      </div>
    </div>

  </div>

</div>
