<% set_meta_tags title: I18n.t('meta_tags.pages.about.title'),
                 description: I18n.t('meta_tags.pages.about.description'),
                 keywords: I18n.t('meta_tags.pages.about.keywords') %>

<%= render 'pages/breadcrumb', page_name: 'about' %>

<h1 class="flex justify-center"><%= t 'pages.about.test' %> Hello from <%= Rails.application.class
                                                                           .parent_name %>!</h1>
<div class='mb-20 flex space-between'>
<div class="test-row">
  <div class="test-col">liv</div>
  <div class="test-col">fact</div>
</div>
</div>

<%= t 'products.index.no_product' %>

<%= render 'shared/before_footer' %>
