<% set_meta_tags title: I18n.t('meta_tags.pages.contact.title'),
                 description: I18n.t('meta_tags.pages.contact.description'),
                 keywords: I18n.t('meta_tags.pages.contact.keywords') %>

<div class="container-conscients first-title-padding page-font">
  <h1><%= t 'pages.contact.contact_title' %></h1>
</div>

<div class="page-container page-font">
  <div class="summary padding-tb home-font">
    <p><%= t 'pages.contact.contact_intro' %></p>
  </div>
</div>


<div class="page-container">
  <div class="row">
    <div class="col-md-9 mb-5">
      <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-inner-box">
              <label for="contact-name" class="label-font"><%= t 'pages.contact.contact_name' %></label>
              <input type="text" id="contact-name" class="form-control">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-inner-box">
              <label for="contact-email" class="label-font"><%= t 'pages.contact.contact_email' %></label>
              <input type="text" id="contact-email" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-inner-box">
              <label for="contact-Subject" class="label-font"><%= t 'pages.contact.contact_subject' %></label>
              <input type="text" id="contact-Subject" class="form-control">
            </div>
          </div>
        </div>
        <div class="class row">
          <div class="col-md-12">
            <div class="form-inner-box">
              <label for="contact-message" class="label-font"><%= t 'pages.contact.contact_message' %></label>
              <textarea type="text" id="contact-message" class="form-control" rows="10"></textarea>
            </div>
          </div>
        </div>
      </form>
      <div class="text-center text-md-left mt-5">
        <!-- <a href="" class="btn btn-green"></%= t 'pages.contact.contact_send' %></a> -->
         <button type="submit" class="btn btn-green"><%= t 'pages.contact.contact_send' %></button>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <ul class="list-unstyled">
        <li>
          <i class="fa fa-phone fa-2x mt-4 color-red"></i>
          <p class="label-font">06 23 98 80 93</p>
        </li>
        <li>
          <i class="fa fa-at fa-2x mt-4 color-yellow"></i>
          <!-- <a href="mailto:contact@conscients.com"><i class="fa fa-at fa-2x mt-4 color-yellow"></i></a> -->
          <p class="label-font">contact@conscients.com</p>
        </li>
      </ul>
    </div>
  </div>
</div>


