<% set_meta_tags title: I18n.t('meta_tags.pages.faq.title'),
                 description: I18n.t('meta_tags.pages.faq.description'),
                 keywords: I18n.t('meta_tags.pages.faq.keywords') %>

<div class="container-conscients first-title-padding page-font">
  <h1><%= t 'pages.faq.faq_title' %></h1>
</div>

<div class="page-container page-font">
  <div class="second-title-padding">
    <h2 class="padding-tb"><%= t 'pages.faq.faq_q_one_title' %></h2>
      <p><%= t 'pages.faq.faq_q_one_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-b"><%= t 'pages.faq.faq_q_two_title' %></h2>
      <p><%= t 'pages.faq.faq_q_two_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-t"><%= t 'pages.faq.faq_q_three_title' %></h2>
      <p><%= t 'pages.faq.faq_q_three_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-t"><%= t 'pages.faq.faq_q_four_title' %></h2>
      <p><%= t 'pages.faq.faq_q_four_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-t"><%= t 'pages.faq.faq_q_five_title' %></h2>
      <p><%= t 'pages.faq.faq_q_five_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class=padding-t><%= t 'pages.faq.faq_q_six_title' %></h2>
      <p><%= t 'pages.faq.faq_q_six_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-t"><%= t 'pages.faq.faq_q_seven_title' %></h2>
      <p><%= t 'pages.faq.faq_q_seven_body' %></p>
  </div>
    <div class="padding-tb">
    <h2 class="padding-t"><%= t 'pages.faq.faq_q_eight_title' %></h2>
      <p><%= t 'pages.faq.faq_q_eight_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-t"><%= t 'pages.faq.faq_q_nine_title' %></h2>
      <p><%= t 'pages.faq.faq_q_nine_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-t"><%= t 'pages.faq.faq_q_ten_title' %></h2>
      <p><%= t 'pages.faq.faq_q_ten_body' %></p>
  </div>
</div>

