<% set_meta_tags title: I18n.t('meta_tags.pages.home.title'),
                 description: I18n.t('meta_tags.pages.home.description'),
                 keywords: I18n.t('meta_tags.pages.home.keywords') %>

<!-- BANNER -->
<div class="banner home-first-img">
  <div class="banner-content">
    <h2><%= t'.img_intro' %></h2>
    <h1><%= t'.img_intro_title' %></h1>
  </div>
</div>


<div data-controller="home-carousel">

  <%= render 'top_carousel', categories: @categories %>

  <div class="d-md-none text-center mt-4 fa-small-grey"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i></div>

  <%= render 'bottom_carousel', category: @categories.fourth %>

</div>

<!-- BLOG 2 LAST ARTICLES -->
<div class="container-conscients home-pt">
  <div class="row home-blog-row-mobile">
    <% BlogPost.last(2).each do |article| %>
      <div class="col-md-6 home-col-portrait">
        <%= link_to blog_post_path(article) do %>
          <div class="home-blog-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.4)), url(<%= rails_blob_url article.image_for_home %>)">
            <div class="home-blog-card-content blog-pics-font">
              <h3><%= article.category %></h3>
              <h2><%= article.title %></h2>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<!-- BRAND PREZ -->
<div class="conscients-presentation home-pt home-font text-center">
  <div class="conscients-presentation-content padding-around ">
    <h3><%= t '.project' %></h3>
    <h2><%= t'.baseline' %></h2>
    <%= link_to t(".discover"), page_path('about'), class: 'underlined-link'%>
  </div>
</div>
