<div class="container-conscients padding-tb">
  <h1><%= t 'pages.payment_shipping.payment_shipping_title' %></h1>
  <div class= "padding-t">
    <h2><%= t 'pages.payment_shipping.secure_title' %></h2>
    <p><%= t 'pages.payment_shipping.secure_body' %></p>
  </div>

    <h2 class="padding-t"><%= t 'pages.payment_shipping.fast_delivery_title' %></h2>
      <p><%= t 'pages.payment_shipping.fast_delivery_body' %></p>
    <h2 class="padding-t"><%= t 'pages.payment_shipping.shipping_fees_title' %></h2>
      <p><%= t 'pages.payment_shipping.shipping_fees_body' %></p>
    <h2 class="padding-t"><%= t 'pages.payment_shipping.flexible_delivery_title' %></h2>
      <p><%= t 'pages.payment_shipping.flexible_delivery_body' %></p>
    <h2 class="padding-t"><%= t 'pages.payment_shipping.returns_title' %></h2>
      <p><%= t 'pages.payment_shipping.returns_body' %></p>
    <h2 class=padding-t><%= t 'pages.payment_shipping.exchange_title' %></h2>
      <p><%= t 'pages.payment_shipping.exchange_body' %></p>
    <h2 class="padding-t"><%= t 'pages.payment_shipping.tree_planting_title' %></h2>
      <p><%= t 'pages.payment_shipping.tree_planting_body' %></p>


</div>



