<div class="container-conscients first-title-padding page-font">
  <h1><%= t 'pages.payment_shipping.payment_shipping_title' %></h1>
</div>

<div class="page-container page-font">
  <div class="second-title-padding">
    <h2 class="padding-tb"><%= t 'pages.payment_shipping.secure_title' %></h2>
      <p><%= t 'pages.payment_shipping.secure_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-b"><%= t 'pages.payment_shipping.fast_delivery_title' %></h2>
      <p><%= t 'pages.payment_shipping.fast_delivery_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-t"><%= t 'pages.payment_shipping.shipping_fees_title' %></h2>
      <p><%= t 'pages.payment_shipping.shipping_fees_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-t"><%= t 'pages.payment_shipping.flexible_delivery_title' %></h2>
      <p><%= t 'pages.payment_shipping.flexible_delivery_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-t"><%= t 'pages.payment_shipping.returns_title' %></h2>
      <p><%= t 'pages.payment_shipping.returns_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class=padding-t><%= t 'pages.payment_shipping.exchange_title' %></h2>
      <p><%= t 'pages.payment_shipping.exchange_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-t"><%= t 'pages.payment_shipping.tree_planting_title' %></h2>
      <p><%= t 'pages.payment_shipping.tree_planting_body' %></p>
  </div>
</div>






