<% set_meta_tags title: I18n.t('meta_tags.pages.payment_shipping.title'),
                 description: I18n.t('meta_tags.pages.payment_shipping.description'),
                 keywords: I18n.t('meta_tags.pages.payment_shipping.keywords') %>

<%= render 'pages/breadcrumb', page_name: 'payment_shipping' %>

<div class="container-conscients first-title-padding page-font">
  <h1><%= t 'pages.payment_shipping.payment_shipping_title' %></h1>
</div>

<div class="page-container page-font text-justify">
  <div class="padding-tb">
    <h2 class="padding-tb"><%= t 'pages.payment_shipping.secure_title' %></h2>
      <p><%= t 'pages.payment_shipping.secure_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-b"><%= t 'pages.payment_shipping.fast_delivery_title' %></h2>
      <p><%= t 'pages.payment_shipping.fast_delivery_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-t"><%= t 'pages.payment_shipping.shipping_fees_title' %></h2>
      <p><%= t 'pages.payment_shipping.shipping_fees_body' %></p>
      <p><u><%= t 'pages.payment_shipping.shipping_fees_body_a' %></u> <%= t 'pages.payment_shipping.shipping_fees_body_d' %></p>
      <p>0-250 gr : 4€ TTC <br>251-500 gr : 5,50€ TTC<br>501-750 gr : 7€ TTC<br>1-2 kg : 9€ TTC<br>2-5 kg : 13,50€ TTC</p>
      <p><u><%= t 'pages.payment_shipping.shipping_fees_body_b' %></u> <%= t 'pages.payment_shipping.shipping_fees_body_d' %></p>
      <p>0-250 gr : 9,50€ TTC<br>251-500 gr : 13€ TTC<br>501-750 gr : 19€ TTC</p>
      <p><u><%= t 'pages.payment_shipping.shipping_fees_body_c' %></u> <%= t 'pages.payment_shipping.shipping_fees_body_d' %></p>
      <p>0-250 gr : 10€ TTC<br>251-500 gr : 14€ TTC<br>501-750 gr : 22€ TTC</p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-t"><%= t 'pages.payment_shipping.flexible_delivery_title' %></h2>
      <p><%= t 'pages.payment_shipping.flexible_delivery_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class="padding-t"><%= t 'pages.payment_shipping.returns_title' %></h2>
      <p><%= t 'pages.payment_shipping.returns_body' %></p>
  </div>
  <div class="padding-tb">
    <h2 class=padding-t><%= t 'pages.payment_shipping.exchange_title' %></h2>
      <p><%= t 'pages.payment_shipping.exchange_body' %></p>
  </div>
</div>
