<div class="container-conscients">
<h1>Mentions légales et CGV</h1>
</div>

<h2><%= t 'pages.terms.legal_information_title' %></h2>
<p><%= t 'pages.terms.legal_information_body' %></p>

<h2><%= t 'pages.terms.conditions_use_title' %></h2>
<h2><%= t 'pages.terms.conditions_use_one_object_title' %></h2>
<p><%= t 'pages.terms.conditions_use_one_object_body' %></p>

<h2><%= t 'pages.terms.conditions_use_two_personal_data_title' %></h2>
<p><%= t 'pages.terms.conditions_use_two_personal_data_intro_p_one' %></p>
<p><%= t 'pages.terms.conditions_use_two_personal_data_intro_p_two' %></p>
<h3><%= t 'pages.terms.conditions_use_two_personal_data_use_collect' %></h3>
<p><%= t 'pages.terms.conditions_use_two_personal_data_use_collect_p_one' %></p>
<p><%= t 'pages.terms.conditions_use_two_personal_data_use_collect_p_two' %></p>
<p><%= t 'pages.terms.conditions_use_two_personal_data_use_collect_p_tree' %></p>
<p><%= t 'pages.terms.conditions_use_two_personal_data_use_collect_p_four' %></p>
<p><%= t 'pages.terms.conditions_use_two_personal_data_use_collect_p_five' %></p>
<p><%= t 'pages.terms.conditions_use_two_personal_data_use_collect_p_six' %></p>

<h3><%= t 'pages.terms.conditions_use_two_personal_data_newsletter' %></h3>
<p><%= t 'pages.terms.conditions_use_two_personal_data_newsletter_body' %></p>

<h3><%= t 'pages.terms.conditions_use_two_personal_data_cookies' %></h3>
<p><%= t 'pages.terms.conditions_use_two_personal_data_cookies_body' %></p>

<h2><%= t 'pages.terms.conditions_use_tree_intellectual_property_title' %></h2>
<h3><%= t 'pages.terms.conditions_use_tree_intellectual_property_titularite' %></h3>
<p><%= t 'pages.terms.conditions_use_tree_intellectual_property_titularite_body' %></p>

<h3><%= t 'pages.terms.conditions_use_tree_intellectual_links' %></h3>
<p><%= t 'pages.terms.conditions_use_tree_intellectual_links_intro' %></p>

<h4><%= t 'pages.terms.conditions_use_tree_intellectual_links_simple_subtitle' %></h4>
<p><%= t 'pages.terms.conditions_use_tree_intellectual_links_simple_body' %></p>

<h4><%= t 'pages.terms.conditions_use_tree_intellectual_links_framing_subtitle' %></h4>
<p><%= t 'pages.terms.conditions_use_tree_intellectual_links_framing_body' %></p>

<h4><%= t 'pages.terms.conditions_use_tree_intellectual_links_outbound_subtitle' %></h4>
<p><%= t 'pages.terms.conditions_use_tree_intellectual_links_outbound_body' %></p>

<h2><%= t 'pages.terms.conditions_use_four_liability_title' %></h2>
<h3><%= t 'pages.terms.conditions_use_four_liability_content' %></h3>
<p><%= t 'pages.terms.conditions_use_four_liability_content_body' %></p>

<h3><%= t 'pages.terms.conditions_use_four_liability_access' %></h3>
<p><%= t 'pages.terms.conditions_use_four_liability_access_body' %></p>

<h3><%= t 'pages.terms.conditions_use_four_liability_download' %></h3>
<p><%= t 'pages.terms.conditions_use_four_liability_download_body' %></p>

<h2><%= t 'pages.terms.conditions_use_five_warning_title' %></h2>
<p><%= t 'pages.terms.conditions_use_five_warning_body' %></p>

<h2><%= t 'pages.terms.conditions_use_six_law_title' %></h2>
<p><%= t 'pages.terms.conditions_use_six_law_body' %></p>





