<div class="container-conscients padding-tb">
  <h1><%= t 'pages.terms.terms_title' %></h2>
  <div class="padding-tb">
    <p>ajouter ancres vers les parties</p>
    <p>Informations légales / Legal</p>
    <p>Conditions générales d'utilisation / Terms and Conditions of Use</p>
    <p>Conditions générales de vente / Terms and Conditions of Sales</p>
  </div>

  <div class="padding-tb">
    <h2 class="padding-b"><strong><%= t 'pages.terms.legal_information_title' %></strong></h2>
    <p><%= t 'pages.terms.legal_information_body' %></p>
  </div>

  <div class="padding-tb">
    <h2 class="padding-b"><strong><%= t 'pages.terms.conditions_use_title' %></strong></h2>
    <h2><%= t 'pages.terms.conditions_use_one_object_title' %></h2>
    <p><%= t 'pages.terms.conditions_use_one_object_body' %></p>

    <h2><%= t 'pages.terms.conditions_use_two_personal_data_title' %></h2>
    <p><%= t 'pages.terms.conditions_use_two_personal_data_intro_p_one' %></p>
    <p><%= t 'pages.terms.conditions_use_two_personal_data_intro_p_two' %></p>
    <h3><%= t 'pages.terms.conditions_use_two_personal_data_use_collect' %></h3>
    <p><%= t 'pages.terms.conditions_use_two_personal_data_use_collect_p_one' %></p>
    <p><%= t 'pages.terms.conditions_use_two_personal_data_use_collect_p_two' %></p>
    <p><%= t 'pages.terms.conditions_use_two_personal_data_use_collect_p_tree' %></p>
    <p><%= t 'pages.terms.conditions_use_two_personal_data_use_collect_p_four' %></p>
    <p><%= t 'pages.terms.conditions_use_two_personal_data_use_collect_p_five' %></p>
    <p><%= t 'pages.terms.conditions_use_two_personal_data_use_collect_p_six' %></p>

    <h3><%= t 'pages.terms.conditions_use_two_personal_data_newsletter' %></h3>
    <p><%= t 'pages.terms.conditions_use_two_personal_data_newsletter_body' %></p>

    <h3><%= t 'pages.terms.conditions_use_two_personal_data_cookies' %></h3>
    <p><%= t 'pages.terms.conditions_use_two_personal_data_cookies_body' %></p>

    <h2><%= t 'pages.terms.conditions_use_tree_intellectual_property_title' %></h2>
    <h3><%= t 'pages.terms.conditions_use_tree_intellectual_property_titularite' %></h3>
    <p><%= t 'pages.terms.conditions_use_tree_intellectual_property_titularite_p_one' %></p>
    <p><%= t 'pages.terms.conditions_use_tree_intellectual_property_titularite_p_two' %></p>
    <p><%= t 'pages.terms.conditions_use_tree_intellectual_property_titularite_p_tree' %></p>

    <h3><%= t 'pages.terms.conditions_use_tree_intellectual_links' %></h3>
    <p><%= t 'pages.terms.conditions_use_tree_intellectual_links_intro' %></p>

    <h4><%= t 'pages.terms.conditions_use_tree_intellectual_links_simple_subtitle' %></h4>
    <p><%= t 'pages.terms.conditions_use_tree_intellectual_links_simple_body' %></p>

    <h4><%= t 'pages.terms.conditions_use_tree_intellectual_links_framing_subtitle' %></h4>
    <p><%= t 'pages.terms.conditions_use_tree_intellectual_links_framing_body' %></p>

    <h4><%= t 'pages.terms.conditions_use_tree_intellectual_links_outbound_subtitle' %></h4>
    <p><%= t 'pages.terms.conditions_use_tree_intellectual_links_outbound_body' %></p>

    <h2><%= t 'pages.terms.conditions_use_four_liability_title' %></h2>
    <h3><%= t 'pages.terms.conditions_use_four_liability_content' %></h3>
    <p><%= t 'pages.terms.conditions_use_four_liability_content_body' %></p>

    <h3><%= t 'pages.terms.conditions_use_four_liability_access' %></h3>
    <p><%= t 'pages.terms.conditions_use_four_liability_access_body' %></p>

    <h3><%= t 'pages.terms.conditions_use_four_liability_download' %></h3>
    <p><%= t 'pages.terms.conditions_use_four_liability_download_body' %></p>

    <h2><%= t 'pages.terms.conditions_use_five_warning_title' %></h2>
    <p><%= t 'pages.terms.conditions_use_five_warning_p_one' %></p>
    <p><%= t 'pages.terms.conditions_use_five_warning_p_two' %></p>
    <p><%= t 'pages.terms.conditions_use_five_warning_p_tree' %></p>
    <p><%= t 'pages.terms.conditions_use_five_warning_p_four' %></p>

    <h2><%= t 'pages.terms.conditions_use_six_law_title' %></h2>
    <p><%= t 'pages.terms.conditions_use_six_law_body' %></p>
  </div>

  <div class="padding-tb">
    <h2 class="padding-b"><strong><%= t 'pages.terms.conditions_sales_title' %></strong></h2>
    <h2><%= t 'pages.terms.conditions_sales_preamble_title' %></h2>
    <h2><%= t 'pages.terms.conditions_sales_preamble_body' %></h2>


        <h1>AJOUTER CGV content ICI</h1>
  </div>

  <p><%= t 'pages.terms.copyright' %></p>

</div>

