<% set_meta_tags noindex: true %>

<div class="container-conscients first-title-padding page-font">
  <h1><%= t "devise.invitations.new.header" %></h1>
</div>

<div class="page-container page-font my-4 text-center">
  <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post} do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
	  <% resource.class.invite_key_fields.each do |field| -%>
	    <p><%= f.label field %><br />
	    <%= f.text_field field, class: "w-25" %></p>
	  <% end -%>
	</div>

  	<div class="actions">
    	<p><%= f.submit t("devise.invitations.new.submit_button") %></p>
	</div>
  <% end %>

</div>