<div class="p-relative grey-certificate">
  <%= wicked_pdf_image_tag(@background_url, class: "full-page") %>
  <div class="certificate-number">
    <span style="color:<%= @line_item.color_certificate %>"><%= @line_item.certificate_number %></span>
  </div>
  <div class="tree-quantity">
    <span class="recipient-name" style="color:<%= @line_item.color_certificate %>"><%= t('.tree_quantity', count: @line_item.quantity) %></span>
  </div>
  <div class="identity-box">
    <div class="identity-centered-box">
    <span class="identity-centered-span">
      <span class="recipient-name" style="color:<%= @line_item.color_certificate %>"><%= @line_item.recipient_name %></span>
      <span class="recipient-message" style="color:<%= @line_item.color_certificate %>"><%= @line_item.recipient_message %></span>
    </span>
    </div>
  </div>
  <div class="information-box">
    <span class="barre">- - - - -</span>
    <span><%= t('.project_name', project_name: @line_item.tree_plantation.project_name) %></span>
    <span><%= t('.project_type', project_type: @line_item.tree_plantation.project_type) %></span>
    <span><%= t('.project_partner', project_partner: @line_item.tree_plantation.partner) %></span>
    <span><%= t('.plantation_uuid', plantation_uuid: @line_item.tree_plantation.plantation_uuid) %></span>
    <span><%= t('.coordinates', lat: @line_item.tree_plantation.latitude, long: @line_item.tree_plantation.longitude) %></span>
    <span><%= t('.tree_specie', tree_specie: @line_item.tree_plantation.tree_specie) %></span>
    <span><%= t('.tree_producer', tree_producer: @line_item.tree_plantation.producer_name) %></span>
  </div>
  <div class="certificate-date">
    <span style="color:<%= @line_item.color_certificate %>"><%= I18n.l(@line_item.certificate_date, format: :long) %></span>
  </div>
</div>
