<%= form_with model: cart, url: deliveries_path, method: :post, local: true do |form| %>
      <%= render 'shared/form_errors', instance: cart %>
      <%= render 'shared/form_errors', instance: delivery_address %>
      <%= render 'shared/form_errors', instance: billing_address %>

<div class="row">
    <div class="col-sm-6 yellow-delivery-box">
      <% if cart.email? %>
        <h4 class="color-red padding-t"><%= t('.email') %></h4>
        <div class="page-font color-white">
          <p><%= t('.description_email_delivery')%> <br>
          <%= link_to new_delivery_path(delivery_type: "postal") do %>
            <span class="choose-delivery-link"><%= fa_icon "plus" %> <%= t('.go_to_postal_delivery_link') %></span>
          <% end %>
          </p>
        </div>
      <% else %>
        <h4 class="color-red padding-t"><%= t('.delivery_address') %></h4>
        <div class="page-font color-white">
          <p><%= t('.description_postal_delivery') %> <br>
          <% if cart.tree_only? %>
            <%= link_to new_delivery_path(delivery_type: "email") do %>
              <span class="choose-delivery-link"><%= fa_icon "plus" %> <%= t('.go_to_email_delivery_link') %></span>
            <% end %>
          <% end %>
          </p>
        </div>
      <% end %>

      <% if cart.email? %>
        <%= render 'email_address_form', string: "delivery_address", instance: delivery_address, form: form %>
        <p class="f-08R color-white"><%= t('.description_email_delivery_details') %></p>
      <% else %>
<!-- <h4 class="color-white padding-t"></%= t('.delivery_address') %></h4> -->
        <%= render 'postal_delivery_address_form', delivery_address: delivery_address, form: form %>
      <% end %>

      <% unless cart.tree_only? %>
        <div class="form-group">
          <%= form.text_field :recipient_message, class: "form-control mr-sm-2", placeholder: t('.recipient_message') %>
        </div>
      <% end %>

      <h4 class="color-white padding-t"><%= t('.billing_address') %></h4>
      <div data-controller="billing-address">
        <% if cart.postal? %>
          <div class="form-group">
            <%= form.check_box :delivery_is_billing, checked: true, data: { action: "billing-address#toggleDisplay", target: "billing-address.checkable" } %>
            <%= form.label t('.delivery_is_billing') %>
          </div>
        <% end %>

        <div data-target="billing-address.hideable" class="<%= "d-none" if cart.postal? %>">
          <%= render 'postal_billing_address_form', billing_address: billing_address, form: form %>
      </div>

      <!-- dessous : souhaitez vous nous adresser un message -->
      <div class="form-group">
        <%= form.text_field :customer_note, class: "form-control mr-sm-2", placeholder: t('.customer_note') %>
      </div>
      <!-- fin envoi message -->
      </div>
    </div>

    <div class="col-sm-6 pl-md-0 pt-md-3">
      <div class="mb-2">

        <%= render 'line_items_table', cart: cart, form: form %>

      </div>

    <!-- DIV ENGLOBANTE <div class="d-flex flex-column align-items-end bg-red"> -->
    <div class="text-right">
      <div class= "d-flex justify-content-end small-total-font">
        <div class="">
        <% if cart.email? %>
          <%= t('.total_price') %>
        <% else %>
          <p class= color-red>sous total</p>
        <% end %>
        </div>
        <div class="color-green w-25"> <%= humanized_money_with_symbol @cart.ttc_price %></div>
      </div>
      <div class= "d-flex justify-content-end small-total-font">
        <% if @cart.coupon %>
        <div class=""><%= t('.from_discount') %></div>
        <div class="color-green w-25">- <%= humanized_money_with_symbol @cart.coupon_discount %></div>
        <% end %>
      </div>

      <div class= "d-flex justify-content-end small-total-font">
        <div class="">
        <% if cart.email? %>
          total avec reduction
        <% else %>
          sous total avec reduction
        <% end %>
        </div>
        <div class="color-green w-25"><%= humanized_money_with_symbol @cart.ttc_price_with_coupon %></div>
      </div>
        <span class="total-comment-font"><p class="mb-0"><% unless cart.email? %><%= t('.without_delivery_fees') %><% end %></p></span>

      <% unless @cart.coupon %>
        <%= render 'checkout/deliveries/add_coupon' %>
      <% end %>


      <div class="form-group">
        <%= form.check_box :general_sales_conditions, checked: false, required: true %>
        <%= form.label t('.general_sales_conditions') %>
      </div>

      <%= form.hidden_field :address_type, value: cart.delivery_method %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

      <%= form.submit t('.go_to_payment'), class: "btn conscients-btn conscients-btn-phone btn-green"%>

    </div>
  </div>
<% end %>
