 <div class="table-responsive text-center">
  <table class="table border-table-cart">
    <thead>
      <tr>
        <th scope="col"><%= t('.selection') %></th>
        <th scope="col"><%= t('.quantity') %></th>
        <th scope="col"></th>
        <th scope="col"><%= t('.delivery') %></th>
        <th scope="col"><%= t('.total_price') %></th>
      </tr>
    </thead>
    <tbody>
      <% cart.line_items.includes(:product_sku).each do |line_item| %>
        <tr class="table-cart-bordered">
          <td><%= image_tag(line_item.product_images.first, height: 70) %></th>
          <td>
            <div><%= line_item.product_sku.to_s %></div>
            <div><%= line_item.recipient_name if line_item&.recipient_name&.present? %></div>
          </td>
          <td><%= line_item.quantity %></td>
          <td>
            <% if line_item.tree? %>
              <%= form.fields_for :line_items, line_item do |j| %>
                <div class="form-group col-10">
                  <%= j.email_field :delivery_email, class: "form-control mr-sm-2", placeholder: true %>
                </div>
              <% end %>
            <% end %>
          </td>
          <td><%= humanized_money_with_symbol line_item.ttc_price %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
