<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <%= link_to t('.cart'), cart_path(@cart) %>
      </li>
    </ol>
  </nav>
  <div class="row">
    <div class="col-md-6">
      <h1 class="my-4"><%= t('.title').upcase %></h1>
      <h2 class="my-4"><%= t('.email') %></h2>
      <p class="my-4">
        <%= t('.go_to_postal_delivery') %>
        <%= link_to new_delivery_path(delivery_type: "postale") do %>
          <span class="orange font-weight-bold"><%= fa_icon "plus" %> <%= t('.go_to_postal_delivery_link') %></span>
        <% end %>
      </p>
      <p class="my-4"><span class="font-weight-bold"><%= t('.description') %></span><span><%= t('.description_details') %></span></p>
      <%= form_with model: @cart, url: deliveries_path, method: :post, local: true do |form| %>
        <% if @cart.errors.any? %>
          <ul>
            <% @delivery_address.errors.full_messages.each do |message| %>
              <li class="font-weight-bold text-danger"><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <% if @delivery_address.errors.any? %>
          <ul>
            <% @delivery_address.errors.full_messages.each do |message| %>
              <li class="font-weight-bold text-danger"><%= message %></li>
            <% end %>
          </ul>
        <% end %>
        <% if @billing_address.errors.any? %>
          <ul>
            <% @billing_address.errors.full_messages.each do |message| %>
              <li class="font-weight-bold text-danger"><%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <div class="form-group">
          <%= form.text_field :recipient_message, class: "form-control mr-sm-2", placeholder: t('.recipient_message') %>
        </div>

        <div class="form-group">
          <%= form.text_field :customer_note, class: "form-control mr-sm-2", placeholder: t('.customer_note') %>
        </div>

        <h4><%= t('.delivery_address') %></h4>

        <%= form.fields_for "delivery_address", @delivery_address do |g| %>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= g.text_field :first_name, class: "form-control mr-sm-2", placeholder: true, required: true %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= g.text_field :last_name, class: "form-control mr-sm-2", placeholder: true, required: true %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= g.text_field :company, class: "form-control mr-sm-2", placeholder: true %>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= g.text_field :address_1, class: "form-control mr-sm-2", placeholder: true, required: true %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= g.text_field :address_2, class: "form-control mr-sm-2", placeholder: true %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <%= g.text_field :city, class: "form-control mr-sm-2", placeholder: true, required: true %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <%= g.text_field :zip_code, class: "form-control mr-sm-2", placeholder: true %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= g.text_field :country, class: "form-control mr-sm-2", placeholder: true %>
          </div>
        <% end %>

        <h4><%= t('.billing_address') %></h4>

        <div data-controller="billing-address">
          <div class="form-group">
            <%= form.check_box :delivery_is_billing, checked: true, data: { action: "billing-address#toggleDisplay", target: "billing-address.checkable" } %>
            <%= form.label t('.delivery_is_billing') %>
          </div>

          <div data-target="billing-address.hideable" class="d-none">
            <%= form.fields_for "billing_address", @billing_address do |h| %>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= h.text_field :first_name, class: "form-control mr-sm-2", placeholder: true, required: true %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= h.text_field :last_name, class: "form-control mr-sm-2", placeholder: true, required: true %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= h.text_field :company, class: "form-control mr-sm-2", placeholder: true %>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= h.text_field :address_1, class: "form-control mr-sm-2", placeholder: true, required: true %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= h.text_field :address_2, class: "form-control mr-sm-2", placeholder: true %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= h.text_field :city, class: "form-control mr-sm-2", placeholder: true, required: true %>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <%= h.text_field :zip_code, class: "form-control mr-sm-2", placeholder: true %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= h.text_field :country, class: "form-control mr-sm-2", placeholder: true %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="mb-5">
          <div class="table-responsive text-center">
            <table class="table border-table-cart">
              <thead>
                <tr>
                  <th scope="col"><%= t('.selection') %></th>
                  <th scope="col"><%= t('.quantity') %></th>
                  <th scope="col"><%= t('.delivery') %></th>
                  <th scope="col"><%= t('.total_price') %></th>
                </tr>
              </thead>
              <tbody>
                <% @cart.line_items.includes(:product_sku).each do |line_item| %>
                  <tr class="table-cart-bordered">
                    <td><%= image_tag(line_item.product_images.first, height: 70) %></th>
                    <td><%= line_item.quantity %></td>
                    <td>
                      <%= form.fields_for "line_items[]", line_item do |j| %>
                        <div class="form-group col-10">
                          <%= j.text_field :delivery_email, class: "form-control mr-sm-2", placeholder: true %>
                        </div>
                      <% end %>
                    </td>
                    <td><%= humanized_money_with_symbol line_item.ttc_price %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="d-flex flex-column align-items-end">

          <div class="form-group">
            <%= form.check_box :general_sales_conditions, checked: true, required: true %>
            <%= form.label t('.general_sales_conditions') %>
          </div>

          <%= form.submit t('.go_to_paiement'), class: "btn btn-orange"%>
        </div>

      <% end %>
    </div>
  </div>
</div>
