<%= form_with model: [product, line_item], local: !line_item.new_record? do |form| %>
  <% if line_item.errors.any? %>
    <ul class="no-padding-ul">
      <% line_item.errors.full_messages.each do |message| %>
        <li class="color-white angle-down-list"><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group row">
    <%= form.label :quantity, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= form.number_field :quantity, value: (line_item.quantity.zero? ? 1 : line_item.quantity),class: "form-control mr-sm-2", required: true, min: 1 %>
    </div>
  </div>

  <% if product.variants.any? %>
    <div class="form-group row">
      <%= form.label "Age", class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= collection_select :variant, :id, product.variants.in_stock, :id, :value, { selected: line_item.product_sku&.variant&.id }, { class: "form-control mr-sm-2" }  %>
      </div>
    </div>
  <% end %>

  <% if product.tree_or_personalized? %>
    <div class="form-group row">
      <%= form.label :recipient_name, class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= form.text_field :recipient_name, class: "form-control mr-sm-2", maxlength: 32, required: true %>
      </div>
    </div>
  <% end %>

  <% if product.tree_or_personalized? %>
    <div class="form-group row">
      <%= form.label :certificate_date, class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= form.date_field :certificate_date, class: "form-control mr-sm-2", id: "datepicker", required: true, data: { current_date: line_item.certificate_date ? l(line_item.certificate_date, format: :flatpicker_date) : '' } %>
      </div>
    </div>

    <div class="form-group row">
      <%= form.label :recipient_message, class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= form.text_area :recipient_message, class: "form-control mr-sm-2", maxlength: 110 %>
        <p class="color-green font-italic mb-0"><%= t 'products.product.car_max_message' %></p>
      </div>
    </div>
  <% end %>

 <div class="col-sm-8 float-right pr-0 my-3">
  <%= form.submit class: "btn conscients-btn btn-green float-right", data: { turbolinks: false }%>
 </div>

<% end %>

<%= render 'products/added_to_cart_modal', product: product, cart: @cart %>
