<div class="modal fade" id="added_to_cart_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="d-flex justify-content-between align-items-center flex-column m-5">
          <h2 class="mb-5">
            <% if product.tree? && cart.recipient_last_product.present? %>
              <%= t('.tree_added_with_recipient', recipient: cart.recipient_last_product) %>
            <% elsif product.tree? %>
              <%= t('.tree_added') %>
            <% elsif cart.recipient_last_product.present? %>
              <%= t('.product_added_with_recipient', recipient: cart.recipient_last_product) %>
            <% else %>
              <%= t('.product_added') %>
            <% end %>
          </h2>
          <%= link_to t('.go_to_cart'), cart_path(@cart), class: "font-weight-bold orange mb-1" %>
          <% if product.tree? %>
            <%= link_to t('.plant_more_trees'), category_products_path(Category.give_a_tree), class: "font-weight-bold orange mb-1" %>
          <% else %>
            <%= link_to t('.continue_purchases'), category_products_path(Category.last_visited), class: "font-weight-bold orange mb-1" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
