<% if category.is_root? %>
  <div class="top-menu-font"><%= t('.category') %></div>
  <div class="dropdown">
    <%= fa_icon "angle-down", class: "c-pointer mr-5 ml-2", data: { toggle: "dropdown" } %>
    <div class="dropdown-menu filters-dropdown-menu">
      <% category.children.displayable.each do |c| %>
        <%= link_to c.name, category_products_path(c), class: "dropdown-item filters-dropdown-item top-menu-font" %>
        <% c.children.displayable.each do |sub_c| %>
          <%= link_to sub_c.name, category_products_path(sub_c), class: "ml-3 dropdown-item filters-dropdown-item top-menu-font" %>
        <% end %>
      <% end %>
    </div>
  </div>
<% elsif category.has_children? %>
  <div class="top-menu-font"><%= t('.category') %></div>
  <div class="dropdown">
    <%= fa_icon "angle-down", class: "c-pointer mr-5 ml-2", data: { toggle: "dropdown" } %>
    <div class="dropdown-menu filters-dropdown-menu">
      <% category.children.displayable.each do |c| %>
        <%= link_to c.name, category_products_path(c), class: "dropdown-item filters-dropdown-item top-menu-font" %>
      <% end %>
    </div>
  </div>
<% elsif category.depth == 1 %>
  <div class="top-menu-font"><%= t('.category') %></div>
  <div class="dropdown">
    <%= fa_icon "angle-down", class: "c-pointer mr-5 ml-2", data: { toggle: "dropdown" } %>
    <div class="dropdown-menu filters-dropdown-menu">
      <%= link_to category.name, category_products_path(category), class: "dropdown-item filters-dropdown-item top-menu-font" %>
    </div>
  </div>
<% elsif category.has_siblings? %>
  <div class="top-menu-font"><%= t('.category') %></div>
  <div class="dropdown">
    <%= fa_icon "angle-down", class: "c-pointer mr-5 ml-2", data: { toggle: "dropdown" } %>
    <div class="dropdown-menu filters-dropdown-menu">
      <% category.siblings.displayable.each do |c| %>
        <%= link_to c.name, category_products_path(c), class: "dropdown-item filters-dropdown-item top-menu-font" %>
      <% end %>
    </div>
  </div>
<% end %>

<% if category.variants.any? %>
  <!-- if category products have variants then display following div -->
  <div class="top-menu-font"><%= t('.variant') %></div>
  <div class="dropdown">
    <%= fa_icon "angle-down", class: "c-pointer ml-2", data: { toggle: "dropdown" } %>
    <div class="dropdown-menu filters-dropdown-menu">
      <% category.variants.each do |variant| %>
        <%= link_to variant.value.capitalize, category_products_path(category, variant: variant.id), class: "dropdown-item filters-dropdown-item top-menu-font" %>
      <% end %>
      <%= link_to t('.back_to_everything'), category_products_path(category), class: "dropdown-item filters-dropdown-item top-menu-font" %>
    </div>
  </div>
<% end %>
