<% if category.children.any? %>
  <!-- <div class="mr-2 top-menu-font"></%= t('.category') %></div> -->
  <div class="top-menu-font"><%= t('.category') %></div>
  <div class="dropdown filter-plus-icone">
    <%= fa_icon "plus", class: "c-pointer mr-5 ml-2", data: { toggle: "dropdown" } %>
    <div class="dropdown-menu">
      <% category.children.each do |c| %>
        <%= link_to c.name, category_products_path(c), class: "dropdown-item" %>
      <% end %>
    </div>
  </div>
<% end %>

<% category.variants_by_category.each do |c| %>
  <!-- <div class="ml-5 mr-2 top-menu-font"><%= c.first.capitalize %></div> -->
  <div class="top-menu-font"><%= c.first.capitalize %></div>
  <div class="dropdown filter-plus-icone">
    <%= fa_icon "plus", class: "c-pointer ml-2", data: { toggle: "dropdown" } %>
    <div class="dropdown-menu">
      <% c.last.each do |variant| %>
        <%= link_to variant.value.capitalize, category_products_path(category, variant: variant.id), class: "dropdown-item" %>
      <% end %>
    </div>
  </div>
<% end %>
