<% set_meta_tags title: I18n.t('meta_tags.products.index.title'),
                 description: I18n.t('meta_tags.products.index.description'),
                 keywords: I18n.t('meta_tags.products.index.keywords') %>

<div class="container-conscients">
  <% if @products.any? %>
    <%= render 'breadcrumb', category: @category %>
<!--     <div class="d-flex align-items-center mb-4">
      </%= render 'filters', category: @category %>
    </div> -->

    <div class="flex-container category-desciption">
<!--     <img src="http://www.conscients.com/shop/themes/matrice/img/offrir-un-arbre-pour-une-naissance-cadeau-bio-écolo-original.png" alt=""> -->
    <div class="description-font text-justify">
    <!-- <h1></%= @category.name %></h1> -->
    Texte de <%= @category.name%> avec <a href="">mots clés</a>.Il y a tant d’occasion de faire de petits cadeaux et c’est si bon de faire plaisir. Mais vous n’avez pas envie d’acheter des babioles inutiles. Alors, offrir un arbre est l’idée qu’il vous faut. Un arbre en cadeau de naissance, d’anniversaire, de baptême, de mariage, pour noël, pour dire merci… Un arbre planté en Amazonie, dont vous recevrez le certificat nominatif et le fichier de géolocalisation par e-mail. Chaque arbre cadeau sera un petit geste répété qui, au final, aura un grand impact pour notre planète.
    </div>
    </div>


    <div class="d-flex align-items-center filters-margin">
      <%= render 'filters', category: @category %>
    </div>
    <div class="card-deck">
      <%= render @products %>
    </div>
    <div class="d-flex justify-content-center"><%= paginate @products %></div>
  <% else %>
    <h2><%= t('.no_product') %></h2>
  <% end %>
</div>
