<% set_meta_tags title: I18n.t('meta_tags.products.index.title'),
                 description: I18n.t('meta_tags.products.index.description'),
                 keywords: I18n.t('meta_tags.products.index.keywords') %>

<div class="container-conscients">
  <% if @products.any? %>
    <%= render 'breadcrumb', category: @current_category %>
<!--     <div class="d-flex align-items-center mb-4">
      </%= render 'filters', category: @current_category %>
    </div> -->

    <div class="flex-container category-desciption">
<!--     <img src="http://www.conscients.com/shop/themes/matrice/img/offrir-un-arbre-pour-une-naissance-cadeau-bio-écolo-original.png" alt=""> -->
      <div class="description-font text-justify">
      <%= @current_category.description%>
      </div>
    </div>


    <div class="d-flex align-items-center filters-margin">
      <%= render 'filters', category: @current_category %>
    </div>
    <div class="card-deck">
      <%= render @products %>
    </div>
    <div class="d-flex justify-content-center"><%= paginate @products %></div>
  <% else %>
    <h2><%= t('.no_product') %></h2>
  <% end %>
</div>
