<% set_meta_tags title: @product.seo_title,
                 description: @product.meta_description,
                 keywords: @product.keywords %>

<div class="container my-5">
  <div class="row h-100">
    <div class="col-lg-8 col-md-7 col-xs-12 order-md-last">
      <%= render 'products/carousel', product: @product %>
    </div>
    <div class="col-lg-4 col-md-5 col-xs-12 order-md-first">
      <h1><%= @product.name %></h1>
      <p class="price-font"><%= humanized_money_with_symbol @product.ttc_price %></p>
      <p><%= @product.description_short %></p>
<!--       <p><%= @product.description_long %></p> -->
      <hr>
      <div id="new_line_item">
        <%= render 'products/add_to_cart_form', product: @product, line_item: @line_item %>
      </div>
    </div>
      <hr>
      <p><%= @product.description_long %></p>
      <div class="social-likes">
        <div data-service="facebook" title="Share link on Facebook">Facebook</div>
        <div data-service="twitter" title="Share link on Twitter">Twitter</div>
      </div>
  </div>
</div>
