<% set_meta_tags noindex: true %>

<div class="container-conscients mb-5">
  <% if @cart.line_items.empty? %>
    <h1 class="text-uppercase my-4"><%= t('.empty_cart') %></h1>
  <% else %>
    <!-- <h1 class="text-uppercase my-4"></%= t('.cart') %></h1> -->
    <div class="first-title-padding page-font">
    <h1><%= t('.cart') %></h1>
    </div>
    <div class="table-responsive padding-t">
      <table class="table border-table-cart">
        <thead>
          <tr class="bg-grey">
            <th scope="col" class="th-font"><%= t('.selection') %></th>
            <th scope="col" class="th-font"></th>
            <th scope="col" class="th-font"><%= t('.quantity') %></th>
            <th scope="col" class="th-font"><%= t('.personalized_product') %></th>
            <th scope="col" class="th-font"><%= t('.total_price') %></th>
            <th scope="col" class="th-font"></th>
          </tr>
        </thead>
        <tbody>
          <% @cart.line_items.includes(:product_sku).each do |line_item| %>
            <tr class="table-cart-bordered th-body-font">
              <td><%= image_tag(line_item.product_images.first, height: 100) %></th>
              <td>
                <div><%= line_item.product_sku.to_s %></div>
                <div><%= line_item.recipient_name if line_item&.recipient_name&.present? %></div>
              </td>
              <td><%= line_item.quantity %></td>
              <td>
                <div><%= l(line_item.certificate_date, format: :default) if line_item&.certificate_date&.present? %></div>
                <div><%= line_item.recipient_message if line_item&.recipient_message&.present? %></div>
              </td>
              <td><%= humanized_money_with_symbol line_item.ttc_price %></td>
              <td>
                <%= link_to product_path(line_item.product, line_item: line_item) do %>
                  <%= fa_icon "pencil", class: "c-pointer mr-3" %>
                <% end %>
                <%= link_to product_line_item_path(line_item.product, line_item), method: :delete do %>
                  <%= fa_icon "times", class: "c-pointer mr-3" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="d-flex justify-content-between align-items-end">
      <div><%= link_to t('.continue_purchases'), category_products_path(Category.last_visited), class: "orange" %></div>
      <div class="d-flex flex-column align-items-end">
        <div class="h4">
          <%= t('.total_price') %> <span class="orange font-weight-bold"><%= humanized_money_with_symbol @cart.ttc_price %></span>
        </div>
        <div class="mb-3"><p><%= t('.without_delivery_fees') %></p></div>
        <% if @cart.tree_only? %>
          <%= link_to t('.validate'), new_delivery_path(delivery_type: "email"), class: "btn conscients-btn btn-green" %>
        <% else %>
          <%= link_to t('.validate'), new_delivery_path(delivery_type: "postal"), class: "btn conscients-btn btn-green" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
